*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: crimson;
}

.img-container{
    text-align: center;
}

.img-container img {
    margin: 10px;
    border-radius: 5px;
    background-color: lightgrey;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.5);
}

.btn {
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    background-color: slateblue;
    color: white;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}

.btn:hover{
    background-color: rgb(125, 106, 247);
}